<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWDownloadManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185B5FE41C4E006D00525288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185B5FFD1C4E006D00525288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185B60081C4E006D00525288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
